<nav id="navbar" class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand text-center" id="logo" href="#">
            <img src="./assets/logos/logo.png" alt="" class="img-fluid"></a>
    </div>
</nav>

<div id="main" class="container p-10" *ngIf="emailform">
    <div class="row">
        <div class="col-md-5 mx-auto ">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1 class="logo"><b>Recuperación de contraseña</b></h1>
                        </div>
                    </div>
                    <form name="login">
                        <div class="mb-3">
                            <label for="email" class="form-label">Ingrese el correo electrónico asociado a su cuenta en esta plataforma:</label>
                            <input type="email" name="email" id="email" class="form-control" [(ngModel)]="email" aria-describedby="emailHelp" placeholder="Correo electrónico">
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="button" id="button" class="btn btn-block  btn-danger" (click)="checkEmail()">Restaurar contraseña</button>
                        </div>
                    </form>
                    <div class="row p-2" *ngIf="showerror">
                        <div class="col-md-12">
                            <div class="alert alert-dismissable alert-warning">
                                <h4>
                                    Error!
                                </h4> <strong>Atención! {{messageerror}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="main" class="container p-10" *ngIf="valid">
    <div class="row">
        <div class="col-md-5 mx-auto ">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1 class="logo"><b>Recuperación de contraseña</b></h1>
                        </div>
                    </div>
                    <form name="login">
                        <div class="mb-3">
                            <label for="email" class="form-label">Su nueva contraseña ha sido enviada al correo asociado a esta aplicación, recuerde realizar el cambio de contraseña al
                                volver a iniciar sesión.
                            </label>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="button" id="button" class="btn btn-block  btn-danger" (click)="goLogin()">Aceptar</button>
                        </div>
                    </form>
                    <div class="row p-2" *ngIf="showerror">
                        <div class="col-md-12">
                            <div class="alert alert-dismissable alert-warning">
                                <h4>
                                    Error!
                                </h4> <strong>Atención! {{messageerror}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="d-flex justify-content-center" id="loadinginit" *ngIf="loading">
    <div class="col-3 text-center ">
        <img class="img-fluid" src="./assets/gifs/loading.gif" alt="">
        <p class="loaderText">{{loadingmessage}}</p>
    </div>
</div>