table.table td a.delete {
    color: #F44336;
}

.form-label,
.loaderText {
    font-weight: bold;
}

.loaderText {
    color: #0096d2;
}

.form-check-input {
    margin-left: 20%;
}

#button {
    border-radius: 50px;
    background-color: #0096d2;
    border-color: #0096d2;
}

#rounded {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1.1rem;
    outline: 0;
}

#maincon {
    padding-top: 5%;
}

#loadinginit {
    padding-top: 13%;
}