.form-label,
.loaderText,
.message,
#title,
h4 {
    font-weight: bold;
}

.loaderText,
.message {
    color: #0096d2;
}

#loadinginit {
    padding-top: 13%;
}

#button {
    border-radius: 50px;
    background-color: #0096d2;
    border-color: #0096d2;
}

#row,
#form {
    background-color: #e1edf8;
}

#company {
    margin-left: 15%;
}

#entry {
    padding-top: 2%;
    margin: 0.1%;
    box-shadow: 2px 2px 10px #666;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1.1rem;
    outline: 0;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}