.table-title {
    padding-bottom: 15px;
    background: #0096d2;
    color: #fff;
    padding: 16px 30px;
    min-width: 100%;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.table-title .btn-group {
    float: right;
}

.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}

.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}

.table-title .btn span {
    float: left;
    margin-top: 2px;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #F44336;
}

.btn {
    background-color: #a2c9e9;
}

.container-xl {
    padding-top: 50px;
}

table.table td a:hover {
    color: #2196F3;
}

table.table tr th:last-child {
    width: 100px;
}

.loaderText {
    color: #0096d2;
    font-weight: bold;
}

#loadinginit {
    padding-top: 13%;
}