.form-label,
.loaderText,
.message,
#title,
h4 {
    font-weight: bold;
}

.loaderText,
.message {
    color: #0096d2;
}

#loadinginit {
    padding-top: 13%;
}

#button {
    border-radius: 50px;
    background-color: #0096d2;
    border-color: #0096d2;
}

#row,
#form {
    background-color: #e1edf8;
}